<div class="page-container">
	<!-- BEGIN PAGE HEAD -->
	<div class="page-head">
		<div class="container">
			<!-- BEGIN PAGE TITLE -->
			<div class="page-title">
				<h1>Time series</h1>
			</div>
			<!-- END PAGE TITLE -->
			<!-- BEGIN PAGE TOOLBAR -->
			
			<!-- END PAGE TOOLBAR -->
		</div>
	</div>
	<!-- END PAGE HEAD -->
	<!-- BEGIN PAGE CONTENT -->
	<div class="page-content">
		<div class="container">
			
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="/#/">Home</a><i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 Time series
				</li>
			</ul>
			<!-- END PAGE BREADCRUMB -->
			<!-- BEGIN PAGE CONTENT INNER -->
			<div class="row" ng-controller="TimeseriesController">
				<div ng-show="chart_container1" class="col-md-12 col-sm-12 page-rotatey" ng-init="LoadTimeseries()">
					<!-- BEGIN PORTLET-->
					<div class="portlet light ">
						<div class="portlet-title">
							<div class="caption caption-md">
								<i class="icon-bar-chart theme-font hide"></i>
								<span class="caption-subject grey-gallery bold uppercase">Requisition Timeline</span>
								<span class="caption-helper hide">weekly stats...</span>
							</div>
							
						</div>
						<div class="portlet-body">							
							<div class="row list-separated">
								
								<div class="col-md-3 col-sm-3 col-xs-6">
									<div class="font-grey-mint font-sm">
										 
									</div>
									<div class="uppercase font-hg font-red-flamingo" ng-bind="tot_count">
										 
									</div>
								</div>
																
							</div>
							<highchart id="chart1" config="chartConfig" class="span8" ></highchart>				
							
						</div>
					</div>
					<!-- END PORTLET-->
				</div>
				
				
			</div>
			

			<!-- END PAGE CONTENT INNER -->
		</div>
	</div>
	<!-- END PAGE CONTENT -->
</div>